.expand-toggle {
  display: none;
}

.expand-heading {
  margin: 0.5em;
  display: inline-block;
  background-color: #e9d81c;
  box-shadow: 2px 2px 0px #e91c48;
  padding: 5px;
  text-decoration: none;
  color: #1c4547;
  transition: all 0.2s;
  font-size: 1.3em;
}

.expand-heading:hover, .expand-heading:focus{
  box-shadow: 4px 4px 0px #e91c48;
  transform: translate(-2px, -2px);
}

.expand-heading:active {
  box-shadow: 0 0 0;
  transform: translate(2px, 2px);
}

.navbar {
  margin-top: 10px;
}

.expand-body {
  transform: scaleY(0);
  height: 0px;
  transition: all 0.5s;
}

.expand-toggle:checked ~ .expand-body {
  transform: scaleY(1);
  height: auto;
  padding-bottom: 2em;
}
