.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-left: 64px;
  width: calc(100% - 128px);
}

.padding-page {
  height: 128px;
  min-height: 128px !important;
}

@media only screen and (min-width: 1000px) {
  .page {
    width: 100%;
    margin-left: 0;
  }
}
