.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-left: 64px;
  width: calc(100% - 128px);
}

.padding-page {
  height: 192px;
  min-height: 192px !important;
}

.page-header {
  font-family: 'TriompheBold', sans-serif;
}

@media only screen and (min-width: 1000px) and (min-aspect-ratio: 16/11) {
  .page {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .page {
    margin-left: 32px;
    width: calc(100% - 64px);
  }
}
