.App {
  text-align: center;
  height: 100vh;
}

.foreground {
  height: 100vh;
  width: 100vw;
  padding-bottom: 192px;
}

.foreground > * {
  z-index: 1;
}

.App-header {
/*  background-color: #222; */
  height: 150px;
  padding: 20px;
  color: rgb(25, 68, 72);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  font-size: xx-large;
  color: rgb(25, 68, 72);
  font-weight: bold;
  height: 100vh;
}
