@font-face {
    font-family: 'TriompheBold';
    src: url('./resources/Triomphe-Bold.ttf');
}

.App {
  text-align: center;
  height: 100vh;
  font-family: sans-serif;
}

/* Small-width and common styles */

.foreground {
  height: 100vh;
  box-sizing: border-box;
  display: block;
  color: rgb(24, 67, 72);
}

.foreground > * {
  z-index: 1;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: rgb(25, 68, 72);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  font-size: xx-large;
  color: rgb(25, 68, 72);
  font-weight: bold;
  max-height: 100%;
  max-width: 100%;
}

.terms {
  text-align: left;
}

/* Large width styles */
@media only screen and (min-width: 1000px) and (min-aspect-ratio: 16/11) {
  .logo {
    width: 40vw;
    height: auto;
  }

  .foreground {
    display: flex;
  }
}

h1 {
  font-size: 2.2em;
  margin-top: 10vh;
  margin-bottom: 1em;
}
